# OS junk files
[Tt]humbs.db
*.DS_Store

# Visual Studio Code
.vscode

# Rider
.idea

# Claude Code
.claude

# Visual Studio files
.vs
*.[Oo]bj
*.user
!*.user/
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
#*.Publish.xml
ipch/
obj/
**/obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
!database/release-scripts/
!tools/release-notes-generator/
Ankh.NoLoad
*.schemaview
*.jfm

# Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache

# Nuget packages
packages/
*.nupkg

# Project files
[Bb]uild
!escrow-package/build/

# Office Temp Files
~$*

# visual studio database projects
*.dbmdl

# Node modules
node_modules/

# React bundles
*hot-update.*

#Dacpacs
dacpacs/*.pdb
dacpacs/*.dll
dacpacs/

# git mergetool compare files
*.orig

# Do not ignore changes for release notes
!/documentation/docs/release-notes
!/docs/public/release-notes

# DotEnv files in root or deploy directory
/.env*
/deploy/.env*

# allow GitHub workflow folders like 'build' or 'release'
!**/.github/workflows/*

# Swagger docs
**/Meniga.Core.Reports.Api.xml

# Merchants Lucene index
**/MerchantIndex/*

# Escrow files
artifacts/
/Orders.Api/obj/Debug/net10.0/apphost.exe
/Orders.Api/obj/Debug/net10.0/Orders.Api.AssemblyInfo.cs
/Orders.Api/obj/Debug/net10.0/Orders.Api.AssemblyInfoInputs.cache
/Orders.Api/obj/Debug/net10.0/Orders.Api.assets.cache
/Orders.Api/obj/Debug/net10.0/Orders.Api.csproj.CoreCompileInputs.cache
/Orders.Api/obj/Debug/net10.0/Orders.Api.csproj.FileListAbsolute.txt
/Orders.Api/obj/Debug/net10.0/Orders.Api.GeneratedMSBuildEditorConfig.editorconfig
/Orders.Api/obj/Debug/net10.0/rpswa.dswa.cache.json
/Orders.Api/obj/Orders.Api.csproj.nuget.dgspec.json
/Orders.Api/obj/Orders.Api.csproj.nuget.g.targets
/Orders.Api/obj/project.assets.json
/Orders.Api/obj/project.nuget.cache
/Orders.Api/obj/project.packagespec.json
/Orders.Api/obj/rider.project.model.nuget.info
/Orders.Api/obj/rider.project.restore.info
